<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pm.infrastructure.mapper.GroupMapper">


    <select id="selectByName" resultType="com.pm.infrastructure.dataobject.GroupDO">
        select id, create_time, update_time, name
        from t_group
        where name = #{name}
    </select>
    <select id="listAllPidByGroupId" resultType="java.lang.String">
        select t_project.id
        from t_group
                 left join t_project on t_group.id = t_project.group_id
        where t_group.id = #{id}
    </select>
</mapper>
