<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pm.infrastructure.mapper.ModuleVersionMapper">

    <select id="selectByVersion" resultType="com.pm.infrastructure.dataobject.ModuleVersionDO">
        select id, create_time, update_time, mid, version, description
        from t_module_version
        where version=#{version}
    </select>
    <select id="listModuleVersion" resultType="com.pm.infrastructure.dataobject.ModuleVersionDO">
        select id, create_time, version, description
        from t_module_version
        where mid = #{mid}
    </select>
</mapper>
