<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pm.infrastructure.mapper.ModuleMapper">

    <select id="selectByName" resultType="com.pm.infrastructure.dataobject.ModuleDO">
        select id, create_time, pid, name
        from t_module
        where name = #{name}
    </select>

    <select id="listProjectAndVersion" resultType="com.pm.infrastructure.dataobject.ModuleDO">
        select m.id, m.create_time, m.update_time, m.pid, m.name, m.latest_version, m.description, tp.name as projectName
        from t_module m left join t_project tp on m.pid = tp.id
        <if test="pid != null and pid != ''">
            where m.pid = #{pid}
        </if>
        order by tp.name ASC, m.name ASC
    </select>
</mapper>
